absl-py==2.4.0
aiocryptopay==0.4.8
aiofiles==25.1.0
aiogram==3.24.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
APScheduler==3.11.2
async-generator==1.10
asyncio==4.0.0
asyncpg==0.31.0
attrs==25.4.0
audioop-lts==0.2.2
audioread==3.1.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
blinker==1.9.0
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
contourpy==1.3.3
curl_cffi==0.14.0
cycler==0.12.1
decorator==4.4.2
deep-translator==1.11.4
Deprecated==1.3.1
distro==1.9.0
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.3.0
fake-useragent==2.2.0
fastapi==0.128.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.11.0
fastar==0.8.0
feedparser==6.0.12
filelock==3.20.2
Flask==3.1.2
flatbuffers==25.12.19
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2026.1.0
g4f==6.9.0
geographiclib==2.1
geopy==2.4.1
greenlet==3.3.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
importlib_metadata==8.7.1
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
keyboard==0.13.5
kiwisolver==1.4.9
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.46.0
lxml==6.0.2
magic-filter==1.0.12
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
mediapipe==0.10.32
more-itertools==10.8.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.2
mss==10.1.0
multidict==6.7.0
mypy_extensions==1.1.0
nest-asyncio==1.6.0
netaddr==1.3.0
networkx==3.6.1
numba==0.63.1
numpy==2.3.5
openai-whisper==20250625
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.90
opencv-python-headless==4.13.0.92
orjson==3.11.7
outcome==1.3.0.post0
packaging==25.0
passlib==1.7.4
pillow==11.3.0
platformdirs==4.9.2
polars==1.37.1
polars-runtime-32==1.37.1
pooch==1.9.0
proglog==0.1.12
propcache==0.4.1
psutil==7.2.2
pyaes==1.6.1
pyasn1==0.6.1
PyAutoGUI==0.9.54
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.19.2
pymediainfo-pyrofork==6.0.2
PyMsgBox==2.0.1
pyparsing==3.3.2
pyperclip==1.11.0
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pyTelegramBotAPI==4.29.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-jose==3.5.0
python-multipart==0.0.21
python-telegram-bot==21.5
pytweening==1.2.0
PyYAML==6.0.3
qrcode==8.2
regex==2025.11.3
requests==2.32.5
rich==14.3.2
rich-toolkit==0.18.1
rignore==0.7.6
rsa==4.9.1
scikit-learn==1.8.0
scipy==1.17.0
selenium==4.40.0
sentry-sdk==2.51.0
setuptools==80.9.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sounddevice==0.5.5
soundfile==0.13.1
soupsieve==2.8.1
soxr==1.0.0
SpeechRecognition==3.14.5
SQLAlchemy==2.0.46
standard-aifc==3.13.0
standard-chunk==3.13.0
standard-sunau==3.13.0
starlette==0.50.0
StrEnum==0.4.15
sympy==1.14.0
Telethon==1.42.0
TgCrypto==1.2.5
threadpoolctl==3.6.0
tiktoken==0.12.0
torch==2.10.0
torchvision==0.25.0
tqdm==4.67.1
trio==0.32.0
trio-typing==0.10.0
trio-websocket==0.12.2
typer==0.21.1
types-certifi==2021.10.8.3
types-urllib3==1.26.25.14
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
ujson==5.11.0
ultralytics==8.4.11
ultralytics-thop==2.0.18
urllib3==2.6.3
uuid==1.30
uvicorn==0.40.0
vgamepad==0.1.0
vk_api==11.10.0
waitress==3.0.2
watchfiles==1.1.1
webdriver-manager==4.0.2
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.5
wrapt==2.0.1
wsproto==1.3.2
yarl==1.22.0
yookassa==3.10.0
YooMoney==0.1.2
yt-dlp==2026.2.4
zipp==3.23.0
